@charset "utf-8";

:root {
  --pane-fg: #fafafa;
  --wrkspace-bg: #f3f3f3;
  --item-sel-color: #def1ee;
  --toggle-slider-h: 0.9rem;
  --toggle-slider-w: 1.2rem;
}

:lang(ru) {
    quotes: "«" "»";
}

body {
	margin:0; padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: var(--wrkspace-bg);
}

#head-bar-cnt, #head-bar { display: block; width:0; height:0; margin:0; border: none; }
#foot-bar-cnt, #foot-bar { display: block; width:0; height:0; margin:0; border: none; }

#wrkspace-div {
	display: grid;
	grid-template-columns: 95px 1fr;
	grid-template-rows: 1fr;
	background: var(--wrkspace-bg);
}


/* menu buttons */
.menu-v-pane-cnt {
	display: block; width: 85px; background: var(--pane-fg); margin:0;
	box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
		0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.menu-v-pane {margin: 0 2px 0 0; padding:2px 5px; border: none; min-height: 530px;}
.menu-v-logo {
	width: 85px; height: 49px;
	background: url(img/logo_1020x591.png); background-position: center; background-repeat: no-repeat; background-size: cover;
	&:hover {filter: hue-rotate(20deg);}
}
ul.menu-v-pane {list-style: none; display: flex; flex-direction: column; align-items: center; justify-content: center;}
ul.menu-v-pane li {
	position:relative;
	display: block; box-sizing: border-box;
	margin: 15px 10px; padding: 9px;
	width:36px; height: 36px; line-height: 36px; background: #f8f8f8;
	border-radius: 3px;
	transition: all ease 0.8s;
	&:hover, &:focus, &:active {
		background: var(--item-sel-color);
/*		filter: hue-rotate(45deg);*/
		box-shadow:
			0 1px 1px hsl(0deg 0% 0% / 0.075),
			0 2px 2px hsl(0deg 0% 0% / 0.075),
			0 4px 4px hsl(0deg 0% 0% / 0.075),
			0 8px 8px hsl(0deg 0% 0% / 0.075),
			0 16px 16px hsl(0deg 0% 0% / 0.075);
	}
}
ul.menu-v-pane li * {
	text-decoration: none;
	cursor: pointer;
	background-position: center; background-repeat: no-repeat; background-size: contain;
	display:block; width: 100%; height: 100%;
}
ul.menu-v-pane li ul.submenu {
	visibility:hidden;
	margin:0; padding:0;
	position: absolute; top: 0; left:45px; z-index: 11;
	list-style: none;
	width: max-content; height: max-content;
	border-radius: 15px;
	box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
		0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
ul.menu-v-pane li:hover .submenu, ul.menu-v-pane li:focus .submenu {
	visibility:visible;
}
ul.submenu li {
	display: block;
	margin:0; padding: 3px 12px; width: 100%; height: revert;
	border-bottom: 1px solid grey; border-radius: 0;
	white-space: nowrap;
}
ul.submenu li:first-child {border-radius: 10px 10px 0 0;}
ul.submenu li:last-child {border-radius: 0 0 10px 10px; border: none;}
ul.submenu li a, ul.submenu li a:visited {color: inherit;}

ul.menu-v-pane li.separator { height:0; width:100%; border: 1px solid grey; padding:0; margin:0; }
.menu-btn-home {background-image: url(ico/home.svg); }
.menu-btn-calend {background-image: url(ico/calendar.svg); }
.menu-btn-users {background-image: url(ico/users.svg); }
.menu-btn-notes {background-image: url(ico/notebook.svg); }
.menu-btn-doc {background-image: url(ico/file.svg); }
.menu-btn-bi {background-image: url(ico/grid.svg); }
.menu-btn-stngs {background-image: url(ico/settings.svg); }
.menu-btn-about {background-image: url(ico/faq-circle.svg); }


/* search box */
.index_srch_cnt {margin: 0 1rem 0 1em;}
.index_srch_cnt input[type=text] {
    color: #3f505e;
    background: var(--wrkspace-bg);
    border:none; border-radius: 25px;
    height:1.6rem; line-height: 1.6rem;
    padding: 0.35em 1.45em;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none !important;
    appearance: none;
    box-shadow:  3px 3px 5px 0 rgba(255,255,255,.3), -3px -3px 5px 0 rgba(116, 125, 136, .2),
			    inset -3px -3px 5px 0 rgba(255,255,255,.2), inset 3px 3px 5px 0 rgba(0, 0, 0, .2);

    &::placeholder {
        color: #6d7f8f;
      }
    &:focus, &:hover, &:active:focus,{
        outline: 0 none !important;
        -webkit-appearance: none;
        color: #3f505e;
        background-color: #f3f9ff;
      }
}
.index_srch_cnt input#birsearch[type=text] {width: 25rem;}
.index_srch_cnt .search-btn {
    position:relative; display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0.3rem;
    align-items: center; justify-content: center;
    transition: all .3s ease;
    &:hover { transform: scale(1.125); }
}

/* progress bar */
@property --progressbar {
  syntax: "<length>";
  initial-value: 0%;
  inherits: true;
}
.progressbar_cnt {
	--progressbar: 0%;
	 
	 width: 12rem; height: 30px;
	 position: absolute; left: 1.2rem; z-index: 999;
	 box-sizing: border-box;
	 margin: 1rem auto; padding: 9px 10px;
	 border: 1px solid #fff; box-shadow: 0 0 10px #aaa;
	 transition: opacity 0.5s ease;
}
.progressbar_cnt .progressbar {
	width: 100%;
	position: relative;
	height: 100%;
	border-radius: 4px; overflow: hidden;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
	&:before {
		content: '';
		position: absolute;
		width: var(--progressbar); transition: width 2s ease;
		height: 100%;
		margin:0; padding: 0;
		background: linear-gradient(#afd5e8, #ade0fa, #7ca7be);
		background-repeat: repeat;
	}
}

/* fancy checkboxes */
.checkbox-cnt { position:relative; height: var(--toggle-slider-h); line-height: var(--toggle-slider-h); display: flex; align-items: center; user-select: none; -webkit-user-select: none;}
.checkbox-cnt input[type="checkbox"] {
	display: inline-block;
	margin: 0 7px;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
                      -webkit-linear-gradient(left, #f66 50%, #6cf 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 15px 0;
    border-radius: var(--toggle-slider-h);
    box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5), inset 0 0 10px hsla(0,0%,0%,.5),
                0 0 0 1px hsla(0,0%,0%,.1), 0 -1px 2px 2px hsla(0,0%,0%,.25), 0 2px 2px 2px hsla(0,0%,100%,.75);
    cursor: pointer;
    height: var(--toggle-slider-h);
    padding-left: 0; padding-right: var(--toggle-slider-w);
    width: calc(var(--toggle-slider-w) * 2);
    -webkit-appearance: none;
    -webkit-transition: .25s;
    &:after {
        background-color: #eee;
        background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
        border-radius: var(--toggle-slider-h);
        box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1), inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                    0 1px 3px 1px hsla(0,0%,0%,.5), 0 0 2px hsla(0,0%,0%,.25);
        content: '';
        display: block;
        height: var(--toggle-slider-h);
        width: var(--toggle-slider-w);
    }
    &:checked {
        background-position: 0 0, 35px 0;
        padding-left: calc(var(--toggle-slider-w) * 1);
        padding-right: 0;
    }
}

/* UI pane */
.ui-pane {
	display: block; width: max-content;
	margin: 15px; padding:25px;
	border: 1px solid #e0e0e0; border-radius: 15px;
	background: var(--pane-fg);
	font-size: 0.85rem;
}
.ui-pane-wide { width: auto; }
.ui-pane-grouper {display:flex; flex-direction: row; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap;}
.ui-pane H1 {font-size: 18px; color: #000; white-space: nowrap; margin: 0 0 20px 0;}
.ui-pane nav ul {display: inline-block;}
.ui-pane nav .btn {
	display: inline-block; appearance: none;
	color: #000; background: var(--wrkspace-bg);
	font-size: .8rem;
	border: .05rem solid #c7c6ea; border-radius: .3rem;
	cursor: pointer; font-size: .8rem; height: 1.8rem;line-height: 1.8rem; outline: 0;
	padding: .25rem .4rem; text-align: center; text-decoration: none;
	transition: background .2s,border .2s,box-shadow .2s,color .2s;
	&:hover {background: #4240d4; border-color: #3634d2; color:#fff;}
}
.ui-pane nav {display: inline-block; margin-bottom: 1.8rem;}
.ui-pane nav .btn-drop-down { position:relative; display:inline-block;}
.ui-pane nav .btn-drop-down ul {
	display: none; position: absolute;
	margin:0; padding:0; border:none; list-style: none inside; text-align: center; z-index: 1;
	box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
		0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.ui-pane nav .btn-drop-down:hover ul, .ui-pane nav .btn-drop-down:focus ul, .ui-pane nav .btn-drop-down:active ul {
	display: block;
}
.ui-pane nav .btn-drop-down ul li {
	color:#000; background: var(--wrkspace-bg);
	min-width: 10rem; margin:0; padding: 1em; color: #000; background: var(--wrkspace-bg);
	cursor: pointer;
	&:hover { background: var(--item-sel-color); }
}

.ui-pane DT {color: #657d9e; &:after{content: ':'}}
.ui-pane DD {font: 400 0.87rem "Roboto", sans-serif;}
.ui-pane DT.oneline, .ui-pane DD.oneline {display: inline-block; font-size: 90%; }
.ui-pane DT.oneline {margin-inline-start: 0;}
.ui-pane DD.oneline {margin-inline-start: 0.5rem; margin-right: 1.2rem;}
.ui-pane TABLE {table-layout: fixed; border-collapse: collapse; border: none; width: auto;}
.ui-pane TABLE th, .ui-pane TABLE td { padding: 10px; font-variant-numeric: slashed-zero;}
.ui-pane TABLE th {border-bottom: 1px solid grey;}
.ui-pane TABLE tr:first-child td { padding-top: 1.8em; }
/*.ui-pane tbody tr:nth-child(odd) { background-color: #ff33cc;}*/
.ui-pane tbody tr:nth-child(even) { background-color: #f1f1f1;}
.ui-pane tfoot {background-color: var(--item-sel-color); font-weight: bold;}

.birquickres-cnt {position: relative;margin:0; padding:0; border:none;}
.birquickres {
	display: block; position:absolute; top:15px;
	z-index: 101;
	opacity:0;
	margin:0; padding: 0; background: var(--pane-fg);
	max-height: 30rem; overflow-y: auto;
	border: 1px solid #e0e0e0; border-radius: 5px;
	box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
		0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.birquickres .item, .birquickres .item-none {
	padding: 1.1rem 1.9rem; margin:0; font-size: .85rem;
	display:flex; flex-direction: column; justify-content: space-between; gap: .4rem;
	transition: background .4s ease;
	&:hover, &:focus, &:active {background: var(--item-sel-color);}
}
.birquickres .item .details {color:#849fc3; font-size: .7rem; display: flex; gap: .3rem; white-space: nowrap;}
.birquickres .item-none { color: #000; text-align: center; &:hover, &:focus, &:active {background: revert;} }

.bir-company-range-1, .bir-company-range-2, .bir-company-range-3, .bir-company-range-none {font: 400 4.375rem/5.125rem "Roboto", sans-serif; letter-spacing: -.0625rem;}
.bir-company-range-1 {color: #fe5080;}
.bir-company-range-2 {color: #4b79f7;}
.bir-company-range-3 {color: #28bc00;}
.bir-company-range-none {color: #d7e2f0;}
.bir-company-range-desc-cnt {
	color: #849fc3;
	display: flex; justify-content: space-between; align-self: flex-start; flex-direction: row;
	margin-top: 2.5rem;
	font: 400 .65rem/2.25rem "Roboto", sans-serif;
}
.bir-company-range-desc {line-height: 0.8rem; text-align: center;}

.okved-record B {display: inline-block; min-width: 3em;}

.adress-brief {max-width: 30rem;}
.adress-brief-warn {border-left: .5rem solid #fe5000; padding: 0.75rem 1.3rem; background: #ffe2e9; max-width: 30rem;}
DT.adress-brief-warn {background: revert; color: #fe5000; border: none; padding: revert;}


TABLE#nmc-decrease-table td { font-variant-numeric: slashed-zero; }
TABLE#nmc-decrease-table td.st1 { color: #18413a; font-weight: bold;}
TABLE#nmc-decrease-table td.st3 { color: #3e3e97; font-family: Tahoma; font-size: 90%;}


/* spinner */
.spinner {
  width: 1.5rem; height: 1.5rem;
  border-top-color: #444; border-left-color: #444;
  animation: spinner 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;  
  box-sizing: border-box;
  display: inline-block; vertical-align: middle;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}